html, body, #root {
  height: 100%;
  margin: 0;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #9bd7dd, #bde7e9);
}

.card {
  background: white;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
}

.btn {
  padding: 10px 25px;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login {
  background: #4caf50;
  color: white;
}

.logout {
  background: #f44336;
  color: white;
}
.dashboard-wrapper {
  padding: 20px;
}

.employee-form {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.employee-form input,
.employee-form select {
  padding: 6px;
}

.employee-table {
  width: 100%;
  border-collapse: collapse;
}

.employee-table th,
.employee-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
.logout-btn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 200;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 60px;
  text-align: center;
}




